/* Taylor Niemann Module 3.2 */
#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  background-color: #EDC7B7;
  color: #AC3B61;
  border: 1px solid #D6A800;
  padding: 10px;
}
h2 {
  background-color: #BAB2B5;
  color: #123C69;
  border: 1px solid #D6A800;
  padding: 10px;
}
h3 {
  background-color: #DDD0CD;
  color: #123C69;
  border: 1px solid #D6A800;
  padding: 10px;
}
h4 {
  background-color: #EEE2DC;
  color: #123C69;
  border: 1px solid #D6A800;
  padding: 10px;
}
a {
  color: #1C60A9;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}
a:visited {
  color: #000000;
  text-decoration: none;
}